body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 17px;
  line-height: 1.7;
  color: rgb(117, 11, 6);
}

#showCase {
  background-image: url("snow.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px 17px;
  text-align: center;
}

#showCase h1 {
  font-size: 50px;
}

#showCase p {
  font-size: 24px;
}

#showCase .button {
  text-decoration: none;
  font-size: 20px;
  color: rgb(117, 11, 6);
  border: rgb(117, 11, 6) 3px solid;
  padding: 7px 14px;
  border-radius: 10px;
}

#showCase .button:hover {
  background-color: rgb(117, 11, 6);
  color: white;
}

#section-a {
  background-color: rgb(117, 11, 6);
  text-align: center;
  color: white;
  padding: 27px;
}

#section-b {
  background-color: rgb(221, 221, 201);
  padding: 27px;
}

#section-c {
  display: flex;
  text-align: center;
}

#section-c .box-1,
#section-c .box-3 {
  background-color: rgb(117, 11, 6);
  padding: 27px;
  color: white;
}

#section-c .box-2 {
  padding: 27px;
}
